* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


:root {
    --white: hsl(255, 100%, 100%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --scissors: hsl(39, 89%, 49%);
    --paper: hsl(230, 89%, 62%);
    --rock: hsl(349, 71%, 52%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
}


/* Score container */
.score__container {
    width: 70%;
    margin: 5rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.3rem solid var(--header-outline);
    border-radius: 1rem;
}

.score__container--left {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.score__container--right {
    background-color: var(--white);
    font-size: 2rem;
    padding: 1rem 5rem;
    margin: 1rem;
    border-radius: 1rem;
    color: hsl(214, 47%, 23%);
    text-transform: uppercase;
    text-align: center;
}

.score__container--right h2 {
    font-size: 5rem;
}

/* Center container */
.center__container {
    position: relative;
    z-index: 2;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: min(35vw, 35vh);
    z-index: -1;
}

.center__container--up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper,
.scissors,
.rock {
    margin: 0 4rem;
}


.blue__circle {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: 0 10rem;
    position: relative;
    z-index: -1;
}

.computers__choice {
    position: absolute;
}


.paper,
.scissors,
.rock
{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.center__container--up img,
.center__container--down img,
.players__choice img,
.computers__choice img {
    height: 7rem;
}

.paper {
    border: 2rem solid var(--paper);
}

.scissors {
    border: 2rem solid var(--scissors);
}

.rock {
    border: 2rem solid var(--rock);
}

.center__container--down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Winner panel */

.block h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white);
    z-index: 10;
    margin-bottom: 5rem;
}

.winner__panel--wrapper {
    display: flex;
    align-items: center;
}

.block
{
    margin: 0 2rem;
}

.info-box {
    z-index: 10;
}

.winner__message {
    text-align: center;
    z-index: 10;
}

.info-box h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 4rem;
}

.play__again {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    text-transform: uppercase;
    border-radius: 0.5rem;
    z-index: 10;
}

.winner {
    box-shadow:
            0 0 0 5rem hsl(214, 47%, 23%, 50%),
            0 0 0 10rem hsl(217, 48%, 23%, 50%),
            0 0 0 15rem hsl(227, 49%, 15%, 20%);
    z-index: -1;
}

/* Button wrapper */
.wrap-button {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
}

.rules {
    font-size: 2rem;
    color: var(--white);
    background: none;
    padding: 0.5em 2em;
    border: 0.25rem solid var(--white);
    border-radius: 0.75rem;
    z-index: 10;
}

/* Modal */
.modal {
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    border-radius: 1rem;
    min-height: 50%;
    width: 40rem;
    z-index: 10;
}

.modal .close {
    height: 2.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.modal .center {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 2rem;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    .center__container {
        background-size: 70%;
        background-position: center top;
    }

    .paper,
    .scissors {
        margin: 0 2rem;
    }

    .paper,
    .scissors,
    .rock,
    .players__choice,
    .computers__choice {
        padding: 5rem;
        height: 5rem;
        width: 5rem;
    }

    .center__container--up img,
    .center__container--down img,
    .players__choice img,
    .computers__choice img {
        height: 5rem;
    }

    .score__container {
        min-width: 80%;
        border: 0.3rem solid var(--header-outline);
    }

    .score__container--right {
        padding: 1rem 3rem;
    }

    .block h2 {
        font-size: 1.5rem;
    }

    .info-box {
        text-align: center;
    }

    .block
    {
        margin: 0;
    }

    .winner {
        box-shadow:
                0 0 0 3rem hsl(214, 47%, 23%, 50%),
                0 0 0 6rem hsl(217, 48%, 23%, 50%),
                0 0 0 9rem hsl(227, 49%, 15%, 20%);
        z-index: 1;
    }

    .wrap-button {
        align-items: center;
        justify-content: center;
    }

    .modal {
        background-color: var(--white);
        position: absolute;
        font-size: 2.5rem;
        border-radius: 0;
        width: 100%;
        z-index: 10;
        min-height: 100vh;
    }

    .modal .close {
        height: 3rem;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10rem;
    }

    .center img {
        padding: 5rem;
    }


}


@media only screen and (max-width: 600px) {

    .score__container {
        margin: 2rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.2rem solid var(--header-outline);
        border-radius: 0.5rem;
    }

    .score__container--left {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .score__container--right {
        background-color: var(--white);
        font-size: 0.7rem;
        padding: 0.5rem 1.75rem;
        margin: 0;
        border-radius: 1rem;
        color: hsl(214, 47%, 23%);
        text-transform: uppercase;
        text-align: center;
    }

    .score__container--right h2 {
        font-size: 2.5rem;
    }

    .paper,
    .scissors,
    .rock {
        margin: 0 1rem;
    }

    .paper,
    .scissors,
    .rock,
    .players__choice,
    .computers__choice {
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3.5rem;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }

    .center__container--up img,
    .center__container--down img,
    .players__choice img,
    .computers__choice img {
        height: 3.5rem;
    }

    .paper {
        border: 0.8rem solid var(--paper);
    }

    .scissors {
        border: 0.8rem solid var(--scissors);
    }

    .rock {
        border: 0.8rem solid var(--rock);
    }

    .block h2 {
        font-size: 0.8rem;
        margin-bottom: 3rem;
    }

    .info-box {
        margin-top:4rem;
    }


    .info-box h2 {
        font-size: 3rem;
    }

    .play__again {
        font-size: 1.2rem;
        padding: 0.25em 0.5em;
    }

    .winner {
        box-shadow:
                0 0 0 2rem hsl(214, 47%, 23%, 50%),
                0 0 0 4rem hsl(217, 48%, 23%, 50%),
                0 0 0 6rem hsl(227, 49%, 15%, 20%);
        z-index: -1;
    }

    .wrap-button {
        justify-content: center;
    }

    .rules {
        font-size: 0.8rem;
        border: 0.1rem solid var(--white);
        border-radius: 0.25rem;
        letter-spacing: 0.1rem;
    }

    .winner__panel--wrapper {
        flex-direction: row;
    }

    .hidden {
        display: none;
    }

    .block
    {
        margin: 0;
        padding: 0;
    }

    .blue__circle {
        background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 0 3rem;
        position: relative;
        z-index: -1;
    }

    .modal {
        background-color: var(--white);
        font-size: 2.5rem;
        border-radius: 0;
        z-index: 10;
        padding: 20rem 0;
    }


    .modal .flex {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal .center {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .modal .center img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
    }

    .modal .close {
        height: 2.5rem;
    }
}
