:root {

    /*neutral*/
    --dark-blue:       hsl(209, 23%, 22%);
    --very-dark-blue:  hsl(207, 26%, 17%);
    --dark-gray:       hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white:           hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    background-color: var(--very-light-gray);
}


.content {
    padding: 6rem 10rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px grey;
    padding: 2rem 10rem;
}

.dark__light__mode{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.dark__mode {
    margin-left: 1rem;
}

input {
    border-radius: 0.5rem;
}

#filter__option {
    padding: 1rem;
    border: none;
    background-color: white;
    box-shadow: 0 0 1px var(--dark-gray);
    border-radius: 0.5rem;
}

.search__and__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.input__with__icon {
    position: relative;
    border-radius: 1rem;

}

.input__with__icon input[type="text"] {
    padding: 1rem 3rem;
    border: none;
    box-shadow: 0 0 1px var(--dark-gray);
}

.input__with__icon i {
    position: absolute;
    color: var(--dark-gray);
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* flags */

.flags__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 0;
        gap: 4em;
}

.flag__container {
    height: 350px;
    width: 300px;
    border-radius: 1rem;
    box-shadow: 0 0 8px var(--dark-gray);
}

.flag__img,
.flag__info{
    height: 50%;
}

.flag__img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.flag__info {
    padding: 1rem;
}

.flag__info h2{
    margin-bottom: 1rem;
}

.bold {
    font-weight:700;
}

.space {
    margin-top: 2rem;
    border: 3px solid black;
}

span {
    font-weight: 300;
}

/* countries page */

.main__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.target__flag__wrapper {
    grid-area: 1 / 1 / 4 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.target__flag__content {
    grid-area: 1 / 4 / 4 / 7;
    min-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.5rem;
}

.target__flag__content h1{
    margin-bottom: 2rem;
}

.target__flag__content p {
    margin-top: 0.5rem;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
}

.back {
    border: 1px solid black;
}

.back a{
    text-decoration: none;
}

.main__content img{
    max-width: 100%;
    height: 100%;
    padding: 0 3rem;
}


.link {
    padding:  5rem 7rem;
}

a{
    border: 2px solid black;
    padding: 1rem 3rem;
    text-decoration: none;
    color: black;
}


.second {
    margin-left: 5rem;
}

.borders {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.border {
    margin: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 2px solid black;
}

#foundCountries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

#foundCountries ul {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    border: 1px solid var(--dark-gray);
    padding: 1rem;
}

#foundCountries li {
    padding: 1rem;
    width: 20%;
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    list-style: none;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foundCountries li:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid var(--dark-gray);
    cursor: pointer;
}

.search__and__filter {
}

@media only screen and (max-width: 992px) {

    header {
        font-size: 0.7rem;
        padding: 3rem 1rem;
        margin-bottom: 2rem;
    }

    .search__and__filter {
        flex-direction: column;
        align-items: start;
        margin-bottom: 3rem;
        padding: 1rem;
        width: 100%;
    }

    .content {
        padding: 0;
        margin: 0;
    }

    .input__with__icon {
        width: 100%;
    }

    input {
        width: 100%;
    }


    #filter__option{
        margin-top: 2rem;
        display: flex;
        width: 50%;
    }

    .main__content {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flags__wrapper {
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .flex {
        flex-direction: column;
    }

    .second {
        margin-top: 3rem;
        margin-left: 0;
    }

    .link{
        padding: 3rem;
        margin: 1rem 0;
    }

    .target__flag__wrapper {
        justify-content: start;
    }

    .target__flag__content{
        padding: 3rem;
    }
}