:root {
    --c1: #AD1FEA;
    --c2: #4661E6;
    --c3: #373F68;
    --c4: #FFFFFF;
    --c5: #F2F4FF;
    --c6: #f7F8FD;
    --c7: #3A4374;
    --c8: #647196;
    --c9: #F49F85;
    --c10:#62BCFA;
}

*  {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--c5);
    font-family: "Jost", sans-serif;
}

.header__panel {
    width: 476px;
    padding: 2rem 0;
    color: var(--c8);
    font-weight: 600;
}

.go__back__btn img {
    margin-right: 1rem;
}


@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    border-radius: 50%;
    animation: spinner 1s infinite linear;
    visibility: hidden;
}

.spinner--search {
    left: 47%;
    top:45%;
    width: 85px;
    height: 85px;
    border-top: 5px solid #e2e7e9;
    border-right: 5px solid #e2e7e9;
    border-bottom: 5px solid #e2e7e9;
    border-left: 5px solid #ccd1d3;
}

.spinner--visible {
    visibility: visible;
}

.edit__feedback__panel {
    background: var(--c4);
    padding: 2rem;
    border-radius: 0.5rem;
}

.edit__feedback__panel,
label[for="feedback__title__edit"],
label[for="category"],
label[for="update__status"],
label[for="feedback__detail"]{
    display: flex;
    flex-direction: column;
}

.feedback__title {
    color: var(--c7);
    margin-bottom: 3rem;
}

.bold {
    color: var(--c7);
    font-weight: 700;
    margin: 1rem 0 0.25rem 0.25rem;
    font-size: 0.8rem;
}

.light {
    color: var(--c8);
    font-size: 0.8rem;
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
}

#feedback__title__edit,
#update__status,
#category,
#feedback__detail{
    background: var(--c6);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: none;
    color: var(--c7);
}

#feedback__detail {
    font-family: "Jost", sans-serif;
    width: 100%;
    resize: none;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}



#feedback__title__edit::placeholder {
    color: var(--c7);
}

.button__wrapper {
    display: flex;
}

.flex__end {
    flex: 1;
    display: flex;
    justify-content: end;
}

.delete__btn,
.cancel__btn,
.add__feedback__btn{
    color: var(--c4);
    padding: 1em 1.5em;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
}


.delete__btn {
   background: #D73737;
}

.cancel__btn {
    background: var(--c7);
}

.add__feedback__btn {
    background: var(--c1);
    margin-left:  1rem;
}


.hidden {
    display: none;
}

.success,
.successAdd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid gainsboro;
    box-shadow: 0 4px 0 lightgreen;
    font-weight: 700;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    z-index: 55;
}

.error {
    position: absolute;
    top:50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
    border: 1px solid gainsboro;
    box-shadow: 0 4px 0 lightcoral;
    font-weight: 700;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
}