:root {
    --violet: #5964e0;
    --light-violet: #939bf4;
    --very-dark-blue: #19202d;
    --midnight: #121721;
    --white: #ffffff;
    --light-grey: #f4f6f8;
    --gray: #9daec2;
    --dark-grey: #6e8098;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    height: 100vh;
    background: var(--light-grey);
}

.flex__ h1 {
    color: var(--white);
    font-size: 3rem;
}

.filter__el {
    display: flex;
    flex-direction: column;
    padding: 7rem 28rem 0 28rem;
    background: url("/devjobs-web-app/starter-code/assets/desktop/bg-pattern-header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.location__wrapper,
.search__wrapper {
    position: relative;
}

.search__wrapper {
    flex: 3;
}

.location__wrapper {
    flex: 2;
}

#location {
    padding: 1.5rem;
    background: url('starter-code/assets/desktop/icon-location.svg') no-repeat left center;
    background-size: 1.3rem;
    background-position: 0.5rem center;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-right: 1px solid var(--light-grey);
}

#title {
    padding: 1.5rem;
    background: url('starter-code/assets/desktop/icon-search.svg') no-repeat left center;
    background-size: 1.3rem;
    background-position: 0.5rem center;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-right: 1px solid var(--light-grey);
    border-radius: 0.5rem 0 0 0.5rem;
}

 input[type="text"] {
     text-indent: 1rem;
}


input[type="text"]::placeholder {
    padding-left: 1rem;
}

.full__time__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
    width: 100%;
    background-color: var(--white);
    border-radius: 0 0.5rem 0.5rem 0;
}

.full__time__wrapper p {
    font-weight: 700;
}

#checkbox {
    transform: scale(2);
}


.search__btn {
    background: var(--violet);
    color: var(--white);
    border-radius: 0.25rem;
    border: none;
    padding: 1em 2em;
}

.search__btn:hover,
#checkbox:hover{
    cursor: pointer;
}

#jobs__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15rem;
}

.job__box {
    padding: 2rem 2.5rem;
    width: 25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background: var(--white);
    margin: 2rem 1rem;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: start;
}

.flex__ {
    display: flex;
    padding-bottom: 3rem;
}

.dark__mode {
    display: flex;
    align-items: center;
}

.flex__ img {
    height: 1.5rem;
}

.block {
    display: flex;
    flex-direction: column;;
}

.img {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: absolute;
    top: -1.5rem;
    left: 2rem;
}

.jobTitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.light {
    color: var(--dark-grey);
}

.purple {
    color: var(--violet);
    font-weight: 700;
    margin-top: 2rem;
}

.purple__ {
    color: var(--violet);
    font-weight: 700;
}

.dot {
    font-weight: 700;
    margin: 0 0.75rem;
    font-size: 2rem;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.load__more,
.back,
.apply__now{
    padding: 1em 2em;
    background-color: var(--violet);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
}

.load__more:hover,
.apply__now:hover{
    cursor: pointer;
}

.hidden {
    display: none;
}

.button__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.job__header {
    background-color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    margin: 1.5rem auto;
    width: 60rem;
}


.main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 0.5rem;
}

.back {
    padding: 1em 5em;
}

.back__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem 0;
}

.back:hover {
    cursor: pointer;
}

.company__logo {
    width: 10rem;
    padding: 2rem;
}

.job__header__right {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 2.5rem;
}

.job__header img {
object-fit: contain;
}


.margin {
    margin: 0.5rem 0;
}

.dots {
    margin: 0 0.5rem;
}

.company__website {
    color: var(--dark-grey);
    margin: 1rem 0;
}

.space {
    justify-content: space-between;
}

.job__description,
.job__requirements__content,
.job__role{
    color: var(--dark-grey);
    line-height: 2rem;
    font-size: 1.2rem;
}

.job__role {
    padding: 0 0 1rem 0;
}

.pad {
    padding: 2rem 0;
}

.company__site {
    background-color: rgba(147,155,244,0.2);
    color: var(--violet);
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 1em 2em;
    margin: 1em 0;
}

.item__bullets,
.item__decimal{
    padding: 0.5rem;
    border: none;
    margin-left: 1rem;
    color: var(--violet);
    font-size: 1.2rem;
    font-weight: 600;
}

.item__bullets {
    list-style-type: disc;
}

.item__decimal {
    list-style-type: decimal;
}

.item__role,
.item__requirements {
    color : var(--dark-grey);
    font-weight: 400;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    margin: 5rem 0;
    padding: 2.5rem;
}

.footer {
    width: 60rem;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--violet);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--white);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-grey);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.darkmode {
    background-color: var(--midnight);
    color: var(--white);
}

.darkmode .job__box
 {
    background-color: var(--very-dark-blue);
}

.darkmode #location,
.darkmode #title,
.darkmode .full__time__wrapper{
    background-color: var(--very-dark-blue);

}

.darkmode #location,
.darkmode #title{
    border-right: 1px solid var(--dark-grey);
}